//tamaños breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
//colores
$white: white;
$black: black;
$colorTitle: #088ca5;
$colorFontInput: #9282a0;
$colorFonUrl: #acd8e1;
$colorFontTexto: #515151;
$backgroundHeader: #373c3f;
$backgroundHamburguer: #202529;
$backgroundInput: #27212c;
$backgroundSubmit: #bc3183;
$backgroundPurple: #5b0fa1;
$backgroundTexto: #ebebeb;
//fuentes
$Montserrat: 'Montserrat', 'sans-serif';


//tamaños
$fontSize: 16px;
$center: 0 auto;
$ZiseTexto: 14px;
$ZiseImput: 30px;
$ZiseSlogan: 60px;
$ZiseUrl: 34px;