.section2{

}
.box1{
    background-color: $backgroundPurple;
    svg{
        max-width: 10%;
        padding: 120px 0 120px 0;
    }
    .containerSVG{
        text-align: center;
    }
}
.box2, .box3{
    img{
        width: 100%;  
        display: block;   
    }
}
