.section3{
    background-color: $backgroundTexto;
    .texto2{
        display: none;
    }
}
.texto1, .texto2{
    float: left;
    width: 100%;
}
.containerTexto{
    padding-left: 12%;
    padding-right: 12%;
    h2{
        color: $colorTitle;
        font-size: 1.1rem;
        padding: 35px 0 26px 0;
    }
    p{
        color: $colorFontTexto;
        font-size: 0.9rem;
        padding-bottom: 37px;
    }
}